@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .page-container{
    @apply flex flex-col;
  }

  .cs-navbar{
    @apply max-[850px]:hidden flex justify-center items-center
      h-14 w-[600px] text-stone-200 z-10
      rounded-3xl shadow-lg;
      /* shadow-stone-300/10; */
    /* bg-black  */
    /* border-2 ; */
    /* border-white; */
  }

  .cs-navItem{
    @apply hover:bg-primary2 hover:text-primary1 py-[12px] px-6 rounded-[20px] transition ease-in-out duration-[0.2s];
  }

  .cs-navItem-disabled {
    @apply py-[12px] px-6 rounded-[20px];
  }

  .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted rgb(231, 229, 228); */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(231, 229, 228);
    color: rgb(12,10,9);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(231, 229, 228) transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .truncate-box{
    @apply line-clamp-4;
  }

  .ice-frost{
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

html::-webkit-scrollbar{
  display:none;
}