@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .page-container{
    @apply flex flex-col;
  }

  .cs-navbar{
    @apply max-[850px]:hidden flex justify-center items-center
      h-14 w-[600px] text-stone-200 z-10
      rounded-3xl shadow-xl shadow-stone-300/10
    bg-black border-2 border-white;
  }

  .cs-navItem{
    @apply hover:bg-primary2 hover:text-primary1 py-[12px] px-6 rounded-[20px] transition ease-in-out duration-[0.2s];
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

body::-webkit-scrollbar{
  display: none;
}

/* html,body{
  height: 100%;
} */

/* .navbar>*:hover{
  color: red;
  background-color: bisque;
} */

/* #main{
  background: #333 url("https://source.unsplash.com/D49mhVfkojc") center/cover no-repeat fixed;
} */